@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .header {
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 24px;
        font-weight: bold;
    }

    .btn {
        background-color: #008CBA;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
    }

    .btn:hover {
        background-color: #005b82;
    }

    .container {
        text-align: center;
    }
</style>

<div class="header">
    Take Credit Page
</div>

<div class="container">
    <form method="post" asp-controller="Bank" asp-action="TakeCredit">
        <button type="submit" class="btn">1. 1000$ for 1 year with 3% interest <input hidden value="credit1Button" name="optionButton" /> </button>
    </form>
    <form method="post" asp-controller="Bank" asp-action="TakeCredit">
        <button type="submit" class="btn">2. 500$ for 6 months with 4% interest <input hidden value="credit2Button" name="optionButton" /> </button>
    </form>
    <form method="post" asp-controller="Bank" asp-action="TakeCredit">
        <button type="submit" class="btn">3. 250$ for 3 months with 5% interest <input hidden value="credit3Button" name="optionButton" /> </button>
    </form>
    <form method="post" asp-controller="Bank" asp-action="TakeCredit">
        <button type="submit" class="btn">4. Go back <input hidden value="goBackButton" name="optionButton" /> </button>
    </form>

    @if (ViewData["AlreadyTakenCreditError"] != null)
    {
        <p><span style="color:red;">@ViewData["AlreadyTakenCreditError"]</span></p>
    }
</div>







